.mat-form-field-class {
    display: flex;
    justify-content: center;
    width: 50%;
}

.form-class {
}

.buttons {
    float: right;
    margin-right: 22px;
    margin-top: 14px;
    margin-bottom: 20px;
}

.cancel-button {
    margin-right: 10px;
}

.form-section {
    display: flex;
    width: 100%;
}